# Carga de Assets en las diferentes carpetas
[General]
FileSystem=Assets/Materials
FileSystem=Assets/Mesh
FileSystem=Assets/Animations
FileSystem=Assets/Skeleton
FileSystem=Assets/Images
FileSystem=Assets/Fonts